[Unit]
Description=Rclone Google Drive Mount (User)
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/rclone mount googledrive: %h/GoogleDrive \
  --config=%h/.config/rclone/rclone.conf \
  --vfs-cache-mode full \
  --vfs-cache-max-age 100h \
  --vfs-cache-max-size 10G \
  --dir-cache-time 1000h \
  --vfs-read-chunk-size 32M \
  --buffer-size 32M \
  --vfs-read-ahead 256M \
  --vfs-cache-poll-interval 0 \
  --allow-other
ExecStop=/bin/fusermount -u %h/GoogleDrive
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
